<div class="main">
    <div class="container">
        <div class="phone">
        <fa-icon [icon]="faPhone"></fa-icon>
        <p>+91-8185021930</p>
        </div>
        <div class="mail">
        <fa-icon [icon]="faEnvelope"></fa-icon>
        <p>poornachandrarao99122@gmail.com</p>
        </div>
        <div class="address">
        <fa-icon [icon]="faLocationDot"></fa-icon>
        <p>Samalkot, East Godavari, Andhra Pradesh.</p>
        </div>
        
        <div class="socials">
        <div class="linkedIn">
        <fa-icon [icon]="faLinkedin"></fa-icon>
        </div>
        <div class="twitter">
        <fa-icon [icon]="faTwitter"></fa-icon>
        </div>
        <div class="github">
        <fa-icon [icon]="faGithub"></fa-icon>
        </div>
    </div>
    </div>
</div>