<div class="main">
    <div class="container">
        <!-- <h1>Contact Me</h1> -->
        <div class="phone">
        <fa-icon [icon]="faPhone"></fa-icon>
        <p>+91-8185021930</p>
        </div>
        <div class="mail">
        <fa-icon [icon]="faEnvelope"></fa-icon>
        <p>poornachandrarao99122@gmail.com</p>
        </div>
        <div class="address">
        <fa-icon [icon]="faLocationDot"></fa-icon>
        <p>Samalkot, East Godavari, Andhra Pradesh.</p>
        </div>
        
        <div class="socials">
        <div class="linkedIn">
        <fa-icon [icon]="faLinkedin"></fa-icon>
        </div>
        <div class="twitter">
        <fa-icon [icon]="faTwitter"></fa-icon>
        </div>
        <div class="github">
        <fa-icon [icon]="faGithub"></fa-icon>
        </div>
    </div>



        

        

        <!-- <div class="skills-bar-about">
            <a class="social-links"><i class="margin fa-brands fa-github"></i></a>
            <a class="social-links"><i class="fa-brands fa-linkedin-in"></i></a>
            <a class="social-links"><i class="insta fa-brands fa-instagram"></i></a>
            <a class="social-links" href="https://open.spotify.com/user/21xbxidz623as32iw4r3u3uiq" target="_blank"><i class="fa-brands fa-spotify"></i></a>
            <a class="social-links"><i class="fa-brands fa-codepen"></i></a>
                 
    </div> -->
    </div>
</div>