<div class="main">
<div class="card-main">
    <div class="card-sub" *ngFor="let i of cardData">
        <div class="card-image">
          <img [src]="i.imagePath" alt="" />
        </div>

        <div class="content-wrapper">
        <div class="card-title">
            <h2>{{i.title}}</h2>
        </div>
        <div class="card-subtitle">
            <h5>{{i.subTitle}}</h5>
        </div>
        <div class="card-content">
            <p>{{i.content}}</p>
        </div>
    </div>
    </div>
</div>
</div>