<div class="main">
<div class="card-main">
    <div class="card-sub" *ngFor="let i of tempArr">
        <div class="card-image">
          <!-- <img src="../../../assets/Office_DP.jpeg" alt="" /> -->
        </div>

        <div class="content-wrapper">
        <div class="card-title">
            <h1>Card Title</h1>
        </div>
        <div class="card-subtitle">
            <h5>Card Sub Title</h5>
        </div>
        <div class="card-content">
            <p>Lorem ipsum dolor sit 
                amet consectetur adipisicing elit. 
                Aliquid fuga est iure iusto animi. Dolorum
                 ipsam at, doloribus quod possimus dignissimos nam 
                 quis libero obcaecati quia illo sunt, id eos.</p>
        </div>
    </div>
    </div>
</div>
</div>