<div class="content">
    <br /><br />

    <div class="inner-content">
      <div class="left">
        <h1 class="title" #animeObject>Hi, I'm Poorna chandra rao !!</h1>
        <p class="subTitle">FrontEnd Developer</p>
        <p class="subContent">
          very passionate and having good experience <br />
          in web design and developement, <br />
          producing quality work.

          
        </p>
      </div>
      <div class="right">
        <div class="displayPic">
          <img src="../../../assets/Office_DP.jpeg" alt="" />
        </div>
      </div>
    </div>
  </div>



 
  