<div class="main">
    <div class="container">
        <div class="skill-card">
          <img class="angular" src="../../../assets/angular.svg" alt="" />
        </div>
        <div class="skill-card">
          <img class="js" src="../../../assets/javascript.png" alt="" />
        </div>
        <div class="skill-card">
          <img class="html" src="../../../assets/html.png" alt="" />

        </div>
        <div class="skill-card">
          <img class="css" src="../../../assets/css.png" alt="" />
        </div>
        <div class="skill-card">
          <img class="css" src="../../../assets/bootstrap.png" alt="" />
        </div>
        <div class="skill-card">
          <img class="css" src="../../../assets/angularmaterial.png" alt="" />
        </div>
        <div class="skill-card">
          <img class="css" src="../../../assets/java.png" alt="" />
        </div>
        <div class="skill-card">
          <img class="css" src="../../../assets/git.png" alt="" />
        </div>
  

    </div>
</div>