
    html {
        body{
            overflow-x: hidden;
            box-sizing: border-box;
        
        }
    }



/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    .main{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        .container{
            width: 80%;
            height: 80%;
            margin: 5%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            .skill-card{
                width: 284px;
                height: 260px;
                margin: 10px;
                border-radius: 10px;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    width: 90%; 
                    height: 90%;
                }
                .angular{
                    width: 146px;
                    height: 124px;
                }
                .js{
                    width: 270px;
                    height: 142px;
                }
                .html{
                    width: 146px;
                    height: 124px;
                }
                .css{
                    width: 146px;
                    height: 124px;
                }

            }
            
        }
       }
}
  
/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
  
}
  
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){

}
  
/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){
    .main{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        .container{
            width: 80%;
            height: 80%;
            margin: 5%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            .skill-card{
                width: 176px;
                height: 150px;
                margin: 10px;
                border-radius: 10px;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    width: 90%; 
                    height: 90%;
                }
                .angular{
                    width: 146px;
                    height: 124px;
                }
                .js{
                    width: 270px;
                    height: 142px;
                }
                .html{
                    width: 146px;
                    height: 124px;
                }
                .css{
                    width: 146px;
                    height: 124px;
                }
            }
        }
       }
}
  
/* Media Query for Large screens */
@media (min-width: 1281px) {
   .main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    .container{
        width: 80%;
        height: 80%;
        margin: 5%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .skill-card{
            width: 176px;
            height: 150px;
            margin: 10px;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 90%; 
                height: 90%;
            }
            .angular{
                width: 146px;
                height: 124px;
            }
            .js{
                width: 270px;
                height: 142px;
            }
            .html{
                width: 146px;
                height: 124px;
            }
            .css{
                width: 146px;
                height: 124px;
            }
        }
    }
   }
}