<div class="main">
    <div class="container">
        <div class="skill-card">
          <h4>Angular</h4>
          <img class="angular" src="../../../assets/angular.svg" alt="" />
        </div>
        <div class="skill-card">
          <h4>Javascript</h4>
          <img class="js" src="../../../assets/javascript.png" alt="" />
        </div>
        <div class="skill-card">
          <h4>Html</h4>
          <img class="html" src="../../../assets/html.png" alt="" />

        </div>
        <div class="skill-card">
          <h4>Css</h4>
          <img class="css" src="../../../assets/css.png" alt="" />
        </div>
        <div class="skill-card">
          <h4>Bootstrap</h4>
          <img class="bootstrap" src="../../../assets/bootstrap.png" alt="" />
        </div>
        <div class="skill-card">
          <h4>Angular Material</h4>
          <img class="angularmaterial" src="../../../assets/angularmaterial.png" alt="" />
        </div>
        <div class="skill-card">
          <h4>Java</h4>
          <img class="java" src="../../../assets/java.png" alt="" />
        </div>
        <div class="skill-card">
          <h4>Git</h4>
          <img class="git" src="../../../assets/git.png" alt="" />
        </div>
  

    </div>
</div>